/* COMMON */
@font-face { font-family: 'NanumGothic'; src: url('/resources/font/NanumBarunGothic.ttf') format('truetype'); }
::selection{ color: #fff; background: #2e8b3a; }

body { margin: 0; font-family: NanumGothic;}

.backgroundBottom { height: 0px; border-top: 500px solid transparent; border-right: 800px solid #323232; width: 100%; position: fixed; right: 0; bottom: 60px; z-index: -9; }
.backgroundTop { height: 0px; border-bottom: 500px solid transparent; border-left: 800px solid #ffca4f; width: 100%; position: fixed; left: 0; top: 60px; z-index: -9; }

.darken { width: 100%; height: 100%; background: #000000; opacity: 80%; z-index: 9; position: fixed; left: 0; top: 0; display: none; }

.for_pc { display: block; }
.for_m { display: none; }

input { border: none; padding: 10px 15px;}
select { padding: 7px; border: none; background: none; border-bottom: 2px solid #323232;}

.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
    transform: scale(1.1) translate(-50%, -50%) !important;
    -webkit-transform: scale(1.1) translate(-50%, -50%) !important;
    -moz-transform: scale(1.1) translate(-50%, -50%) !important;
    -ms-transform: scale(1.1) translate(-50%, -50%) !important;
    -o-transform: scale(1.1) translate(-50%, -50%) !important;
}
.noImg { position: relative; left: 50%; width: 50% !important; transform: translate(-50%,0%);}
.margin0 { margin: 0 !important;}
.padding0 { padding: 0 !important;}

/* LOGIN */
.loginPopWrap { width: 80%; max-width: 400px; height: 300px; display: block; margin: 0 auto; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #ffca4f; display: none; z-index: 99; border-radius: 25px; }
.loginPopWrap span { display: block; text-align: center; margin: 50px auto 20px auto; font-size: 25px; color: #323232}
#loginCloseBtn { position: absolute; right: 4%; top: 4%; width: 45px; cursor: pointer; }
#loginCloseBtn img{ width: 45px; }
.loginWrap { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-bottom: 20px;}
.loginWrap .login:nth-child(1) { margin-right: 13px;}
.login:nth-child(1) input{ display: block; margin: 7px 0; height: 28px; border: none;}
.loginPopBtn { padding: 28px 20px; border: none; background: #323232; color: #fff; cursor: pointer; border-radius: 5px;}
.loginBtnWrap { display: block; width: 100%; margin: 0 auto; text-align: center;}
.loginBtnWrap input { border: none; padding: 10px 15px; color: #fff; background: #323232; cursor: pointer; border-radius: 5px;}


/* HEADER */
#header { width: 100%; margin: 0 auto; text-align: center; background: #ffca4f; position: fixed; top: 0; display: flex; align-items: center; justify-content: center; height: 80px; z-index: 99;}
.menu_icon { position: absolute; left: 12px; width: 40px; top: 14px; }
.menuWrap { display: flex; flex-wrap: wrap; justify-content: center; }
.menuWrap li{ font-size: 1.2em; padding: 20px; list-style:none; color: #000; }
.menuWrap li:hover { font-weight: bold;}
.menuWrap a{ text-decoration: none; }

.loginBtnImg { position: absolute; right: 5%; top: 24%;}
.loginBtnImg img { width: 30px; }

/* LEFT */
#leftCloseBtn { width: 50px; height: 50px; background: #323232; position: fixed; left: -350px; top: 0; z-index: 999; }
#leftCloseBtn img { padding: 5px; width: 40px; }
#leftWrap { width: 270px; height: 100%; position: fixed; top: 0; background: #ffca4f; z-index: 999; left: -350px; }
#leftWrap a { text-decoration: none; }
#leftWrap a li { list-style: none;font-size: 25px; color: #000; list-style: none; text-align: center; padding: 10px; text-decoration: underline; text-underline-position: under; text-decoration-color: #4a4a4a;}
#leftWrap .title { text-align: center; font-size: 2em; display: block; margin: 10px 0px 10px 0px; }

/* FLOAT */
#floatWrap { position: fixed; bottom: 7%; right: 2%; }
.iconWrap { display: none;}
.plusWrap { cursor: pointer;}
.iconWrap { position: absolute; bottom: 85px;}
.iconWrap img { margin-top: 20px;}
.iconWrap span { font-weight: bold; color: #ffca4f;}

/* MAIN */
#main{ width: 100%; margin-top: 80px; margin-bottom: 160px; }
.mainWord { height: 500px; display: flex; align-items: center; justify-content: center; margin-top: 150px; }
.mainWord .subtitle { width: 100px; margin-right: 10px;}
.mainIcons { text-align: center; display: flex; flex-wrap: wrap; width: 80%; max-width: 800px; justify-content: space-between; margin: 0 auto; }
.mainIcons .mainIcon img { width: 100%;}
.mainIcon { width: 100px; }

/* FOOTER */
#footer{ color: #fff; width: 100%; height: 60px; text-align: center; background-color: #323232; position: fixed; bottom: 0; }
#footerWrap { display: flex; align-items: center; justify-content: center; height: 100%; }

/* BOARD */
.boardWrap .titleWrap { width: 100%; margin: 0 auto; max-width: 600px; text-align: center; ;padding-top: 30px; }
.boardWrap .titleWrap p:nth-child(1) { font-size: 45px; margin-bottom: 30px;}
.boardWrap .titleWrap p:nth-child(2) { font-size: 20px; line-height: 30px;}
.boardWrap .contents .empty { width: 100%; text-align: center; margin: 200px auto; color: #a2a2a2; line-height: 30px;}
.boardWrap .contents .content { margin: 0 15px 50px 15px; width: 30%; cursor: pointer; overflow: hidden;}

/* TYPE1 */
.boardWrap.type1 .contents { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width: 80%; max-width: 1700px; margin: 60px auto 0 auto; }
.boardWrap.type1 .contents img,.boardWrap.type1 .contents span { display: block;}
.boardWrap.type1 .contents .content .imgWrap { height: 280px; margin-bottom: 30px; overflow: hidden;}
.boardWrap.type1 .contents .content .imgWrap img { transform: translate(-50%, -50%); position: relative; left: 50%; top: 50%;}
.boardWrap.type1 .contents img { width: 100%; margin-bottom: 30px; }
.boardWrap.type1 .contents .content .sub { font-size: 18px; color: #aaa; margin-bottom: 10px;}
.boardWrap.type1 .contents .content .main { font-size: 25px;}

/* TYPE2 */
.boardWrap.type2 .contents { display: block; width: 100%; max-width: 1700px; margin: 60px auto 0 auto; }
.boardWrap.type2 .contents .content { margin: 0 auto 50px auto; width: 100%; max-width: 1000px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.boardWrap.type2 .contents .content .imgWrap{ width: 40%; width: 300px; height: 200px; overflow: hidden; margin-right: 50px;}
.boardWrap.type2 .contents .content .imgWrap img{ transform: translate(-50%, -50%); position: relative; left: 50%; top: 50%;}
.boardWrap.type2 .contents .content .wordWrap{ width: 60%;}
.boardWrap.type2 .contents .content .sub { font-size: 18px; color: #ffca4f; margin-bottom: 10px; display: block;}
.boardWrap.type2 .contents .content .main { font-size: 25px; display: block;}
.boardWrap.type2 .contents .content .preview { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.2em; height: 4.6em;}

/* TYPE3 */
.boardWrap.type3 .content_tb, .boardWrap.type3 .content_tbl { margin-top: 60px;}
.boardWrap.type3 .content_tb, .boardWrap.type3 .content_tbl table { width: 80%; max-width: 900px;}
.boardWrap.type3 .content_tbl table { margin: 30px auto; border: 1px solid #444444; border-collapse: collapse;}
.boardWrap.type3 .content_tbl tr th, .boardWrap.type3 .content_tbl tr td { font-size: 18px;  border: 1px solid #444444; padding: 10px; text-align: center}
.boardWrap.type3 .content_tbl tr th:nth-child(2), .boardWrap.type3 .content_tbl tr td:nth-child(2) { text-align: left; cursor: pointer;}
.boardWrap.type3 .content_tbl tr td:nth-child(2) span { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.5em; height: 1.2em; }
.boardWrap.type3 .content_tbl thead tr th:nth-child(1){ width: 5%; }
.boardWrap.type3 .content_tbl thead tr th:nth-child(2){ width: 70%; text-align: center;}
.boardWrap.type3 .content_tbl thead tr th:nth-child(3){ width: 15%; }
.boardWrap.type3 .content_tbl thead tr th:nth-child(4){ width: 10%; }

.boardWrap.type3 .content_tbl .tbl_paging { font-size: 20px; width: 80%; max-width: 500px; margin: 20px auto 0 auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }

.boardWrap.type3 .content_tbl .tbl_paging a { margin: 0 5px; }
.boardWrap.type3 .content_tbl .tbl_paging a li { list-style: none; cursor: pointer; padding: 3px 5px;}
.boardWrap.type3 .content_tbl .tbl_paging a li.active{ font-weight: bold; }

/* JOIN */
.joinWrap { display: block; width: 85%; max-width: 450px; text-align: center; margin: 60px auto 0 auto;}
.joinContentsWrap .joinContent { display: flex; flex-wrap: wrap; justify-content: start; align-content: center; margin: 30px auto;}
.joinContentsWrap .joinContent label { width: 120px; display: flex; align-items: center; justify-content: center; width: 20%;}
.joinContentsWrap .joinContent input { background: none; border-bottom: 2px solid #323232; margin: 0 15px; width: 60%;}
.joinContentsWrap .joinContent textarea { margin: 0 15px; width: 65%; height: 70px;}
.joinContentsWrap .joinContent #userId, .joinContentsWrap .joinContent #email1 { width: 40%; margin-right: 0; padding-right: 0; }
#dupliChk { border: none; background: #323232; color: #fff; cursor: pointer;}

.joinBtnWrap { margin-top: 50px;}
.joinBtnWrap input { background: #323232; color: #fff; padding: 15px 20px; display: block; margin: 0 auto; width: 50%; max-width: 300px; cursor: pointer;}

.modifyBtnWrap { margin-top: 50px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; align-content: center;}
.modifyBtnWrap a{ margin: 0 10px;}
.modifyBtnWrap input { background: #323232; color: #fff; padding: 15px 20px; display: block; margin: 0 auto; width: 100%; max-width: 300px; cursor: pointer; min-width: 100px;}

#pwdModifyBtn { display: block; width: 70%; margin-left: 15px; cursor: pointer;}
#pwdModifyBtn input{ background: #323232; color: #fff; padding: 15px 20px; display: block; margin: 0 auto; width: 100%; max-width: 300px; cursor: pointer;}

/* FIND */
.findWrap { display: block; margin: 50px auto 30px auto; width: 80%; max-width: 800px;}
.findWrap .findContentsWrap { display: flex; flex-wrap: wrap; justify-content: space-between; align-content: center; align-items: center;}
.findWrap .findContentsWrap .findContent { width: 40%; max-width: 280px; padding: 40px; border: 2px solid #323232; background: #fff; opacity: 80%; }
.findWrap .findContentsWrap .findContent:nth-child(1) { border: 2px solid #ffca4f;}
.findWrap .findContentsWrap .findContent .find{ margin: 30px auto; display: flex; flex-wrap: wrap; justify-content: start; align-items: center;}
.findWrap .findContentsWrap .findContent .find input{ background: none; border-bottom: 2px solid #323232; width: 60%;}
.findWrap .findContentsWrap .findContent .find label { width: 120px; display: flex; align-items: center; justify-content: center; width: 25%;}
.findWrap .findContentsWrap .findContent .find #email1 { width: 20%}
.findWrap .findContentsWrap .findContent .find #question { width: 70%;}

.findBtnWrap { margin-top: 50px;}
.findBtnWrap input{ background: #323232; color: #fff; padding: 15px 20px; display: block; margin: 0 auto; width: 50%; max-width: 300px; cursor: pointer;}

/* SETTING */
#settingCate { display: block; width: 80%; max-width: 100px; margin: 0 auto; text-align: center;}

@media ( max-width: 1400px ) {
    .boardWrap.type1 .contents .content { width: 45%;}
    .boardWrap.type1 .contents { width: 90%; justify-content: space-between;}

    .backgroundBottom { border-right: 800px solid #eee;}
    .iconWrap span { color: #323232;}

    .findWrap .findContentsWrap .findContent { padding: 30px;}
}
@media ( max-width: 950px ) {
    .boardWrap.type1 .contents { width: 90%; }

    .boardWrap.type2 .contents .content .imgWrap { margin-right: 30px !important;}
    .boardWrap.type2 .contents .content .wordWrap { width: 40% !important;}

    .boardWrap.type3 .content_tbl tr th, .boardWrap.type3 .content_tbl tr td { font-size: 15px; }

    .findWrap .findContentsWrap { justify-content: center;}
    .findWrap .findContentsWrap .findContent { width: 100%; margin-bottom: 50px;}
}
@media ( max-width: 640px ) {
    .for_pc { display: none !important; }
    .for_m { display: block !important; }

    .menuWrap li{ display: none; }
    .menuWrap .active{ display: block !important; }

    #header { height: 66px !important;}
    #main{ margin-top: 66px !important; margin-bottom: 100px;}

    .backgroundTop { border-bottom: 100px solid transparent; border-left: 100px solid #ffca4f;}
    .mainWord .subtitle { width: 100% !important;}

    .mainWord { display: block !important; text-align: center !important; margin-top: 200px !important; height: 160px !important; }
    .mainIcon { margin: 10px;}
    .mainIcons { justify-content: space-evenly !important;}
    .emphasis { color: #ffca4f !important;}

    .boardWrap .titleWrap { max-width: 400px; padding-top: 20px; width: 90%;}
    .boardWrap .titleWrap p:nth-child(1) { font-size: 30px; margin-bottom: 20px;}
    .boardWrap .titleWrap p:nth-child(2) { font-size: 15px;}
    .boardWrap .contents .empty { margin: 120px auto;}

    .boardWrap.type1 .contents .content { width: 100%; margin-bottom: 30px;}
    .boardWrap.type1 .contents { margin: 30px auto 0 auto;}
    .boardWrap.type1 .contents .content .imgWrap { height: 230px; margin-bottom: 20px; }
    .boardWrap.type1 .contents img { width: 100%; margin-bottom: 20px;}
    .boardWrap.type1 .contents .content .sub { font-size: 15px; margin-bottom: 7px;}
    .boardWrap.type1 .contents .content .main { font-size: 20px;}

    .mainWord .subtitle { margin-right: 0px;}

    .boardWrap.type2 .contents { margin-top: 30px !important;}
    .boardWrap.type2 .contents .content { margin-bottom: 30px;}
    .boardWrap.type2 .contents .content .imgWrap { width: 150px !important; height: 100px !important; margin-right: 15px !important;}
    .boardWrap.type2 .contents .content .sub { font-size: 15px; margin-bottom: 7px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.2em; height: 1.1em;}
    .boardWrap.type2 .contents .content .main { font-size: 20px; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.2em; height: 1.1em;}
    .boardWrap.type2 .contents .content .preview { font-size: 13px; -webkit-line-clamp: 2; height: 2.2em;}

    .boardWrap.type3 .content_tb, .boardWrap.type3 .content_tbl { margin-top: 30px;}
    .boardWrap.type3 .content_tbl tr th, .boardWrap.type3 .content_tbl tr td { font-size: 12px; }
    .boardWrap.type3 .content_tbl thead tr th:nth-child(3), .boardWrap.type3 .content_tbl tbody tr td:nth-child(3) { display: none;}
    .boardWrap.type3 .content_tbl thead tr th:nth-child(4) { width: 17%;}
    .boardWrap.type3 .content_tbl .tbl_paging { font-size: 15px; }
    .boardWrap.type3 .content_tbl .tbl_paging a:first-child, .boardWrap.type3 .content_tbl .tbl_paging a:last-child { display: none;}

    .joinWrap { margin: 30px auto 0 auto;}
    .joinContentsWrap .joinContent #userId, .joinContentsWrap .joinContent #email1 { width: 30%;}

    .findWrap { margin: 30px auto;}
    .findWrap .findContentsWrap .findContent { margin-bottom: 30px;}
    .findBtnWrap { margin-top: 40px;}
}
@media ( max-width: 375px ) {
    .backgroundTop { border-bottom: 100px solid transparent; border-left: 100px solid #ffca4f;}
    .backgroundBottom { border-right: 400px solid #eee; border-top: 400px solid transparent;}

    .mainWord { margin-top: 150px !important; height: 150px !important;}
    .mainWord .subtitle { font-size: 18px;}
    .mainWord .title { font-size: 20px;}
    .title { color: #ffca4f !important;}

    .boardWrap .titleWrap { max-width: 350px; padding-top: 15px;}
    .boardWrap .titleWrap p:nth-child(1) { font-size: 25px;}
    .boardWrap .titleWrap p:nth-child(2) { font-size: 13px; line-height: 20px;}
    .boardWrap .contents .empty { margin: 80px auto;}

    .boardWrap.type1 .contents .content .sub { font-size: 13px;}
    .boardWrap.type1 .contents .content .main { font-size: 17px;}

    .boardWrap.type2 .contents .content .sub { font-size: 13px;}
    .boardWrap.type2 .contents .content .main { font-size: 17px;}
    .boardWrap.type2 .contents .content .preview { font-size: 12px; height: 2.2em;}

    .boardWrap.type3 .content_tbl tr th, .boardWrap.type3 .content_tbl tr td { padding: 7px;}

    .findWrap .findContentsWrap .findContent .find #email2 { width: 33%}
    .findBtnWrap { margin-top: 30px;}
}
@media ( max-width: 360px ) {
    .titleWrap { width: 80%;}
    .mainWord { margin-top: 120px !important; height: 110px !important;}
    .boardWrap.type1 .contents .content .imgWrap { height: 150px; margin-bottom: 15px; }
    .boardWrap.type2 .contents .content .imgWrap { width: 110px !important; height: 70px !important; }
    #footerWrap { font-size: 13px;}

    .boardWrap.type3 .content_tb, .boardWrap.type3 .content_tbl table { width: 85%; }
    .boardWrap.type3 .content_tbl tr th, .boardWrap.type3 .content_tbl tr td { padding: 5px;}
    .boardWrap.type3 .content_tbl thead tr th:nth-child(4) { width: 20%;}
    .boardWrap.type3 .content_tbl .tbl_paging { font-size: 13px; }

    .joinContentsWrap .joinContent label { font-size: 12px;}
    .joinContentsWrap .joinContent input { width: 55%;}
    .joinContentsWrap .joinContent textarea { width: 55%;}

}
@media ( max-width: 320px ) {
    .loginWrap .login:nth-child(1) { margin: 0;}
    .loginPopBtn { margin: 20px; padding: 15px 72px;}
    .loginBtnWrap input { margin-bottom: 10px;}

    .joinWrap { width: 90%;}
    .joinContentsWrap .joinContent label { width: 100%; margin-bottom: 15px;}
    .joinContentsWrap .joinContent input { width: 70%; text-align: center;}
    .joinContentsWrap .joinContent textarea { width: 70%;}
    .joinContentsWrap .joinContent { justify-content: center;}
    .joinContentsWrap .joinContent #userId, .joinContentsWrap .joinContent #email1 { width: 35%;}

    .findWrap { width: 90%;}
    .findWrap .findContentsWrap .findContent { padding: 25px;}
    .findWrap .findContentsWrap .findContent .find { margin : 20px auto;}
    .findWrap .findContentsWrap .findContent .find #email1 { width: 35%;}
    .findWrap .findContentsWrap .findContent .find label, .findWrap .findContentsWrap .findContent .find input{ width: 100%; text-align: center;}
    .findWrap .findContentsWrap .findContent .find #question { width: 100%}
    .findWrap .findContentsWrap .findContent .find #email2 { width: 40%}
    .findBtnWrap { margin-top: 25px;}
    .findBtnWrap input { width: 100%; }

    #pwdModifyBtn { margin: 0;}

}
